<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Menu</title>
  </head>
  <body>
    <h1>Edit Menu: {{menu.name}}</h1>
    <form class="" action="{{url_for('editMenuItem',restaurant_id=restaurant_id,menu_id=menu.id)}}" method="post">
      Name: <input type="text" name="name" value="" placeholder="{{menu.name}}"> <br> <br>
      Description: <input type="text" name="description" value="" placeholder="{{menu.description}}"> <br> <br>
      Price: <input type="text" name="price" value="" placeholder="{{menu.price}}"><br><br>
      <input type="submit" name="name" value="Edit">
      <a href="{{url_for('menuRestaurant',restaurant_id=restaurant_id)}}">Cancel</a>
    </form>
  </body>
</html>
