<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Restaurants</title>
  </head>
  <body>
    <h1>Restaurants</h1>
    <a href="{{url_for('newRestaurant')}}">Add Restaurant</a>


    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    
    {% for i in restaurantes %}
        <h3>{{i.name}}</h3>
        <a href="{{url_for('editRestaurant',restaurant_id=i.id)}}">Edit</a>
        <a href="{{url_for('deleteRestaurant',restaurant_id=i.id)}}">Delete</a>
    {% endfor%}
  </body>
</html>
